# Dependencies
node_modules/
**/node_modules/

# Production & Build outputs
dist/
**/dist/
build/

# Environment files
.env
**/.env
.env.local

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
